//
//  Secrets.xcconfig
//  Show Score
//
//  Created by Felipe Duarte on 19/05/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

TMDB_API_KEY = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwMTAzZTAwMTIyYzUwMzMyMTE0M2Y1MmQ4YzA3MWQwNCIsIm5iZiI6MTY5OTg3OTg3MS4zMDcwMDAyLCJzdWIiOiI2NTUyMWJiZmZkNmZhMTAwYWI5NzFkMmYiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.XQkLLODUhTcEOmFEHTcMggw2OLnv3gtHdn5WFVWc-3c
